<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission Statement</h2>
                <hr class="light">
                <p class="text-faded">Inspire and promote quality, yet afforable wardrobe styling for men, women, and children <br>
    by building confidence and encouraging ALL to love who they are!</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

